/* Modal Content */
.modal-content {
    background-color: var(--background-2);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 5px;
    max-height: min-content;

  }
  
  /* The Close Button */
  .close {
    color: var(--background-3);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: var(--on-background);
    text-decoration: none;
    cursor: pointer;
  }

  .add-recipe-form input{
      width:100%;
  }
 

textarea {
      width: 100%;
      height: 100px;
      resize: none;
  }

