{% extends "base.html" %}
{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="static/css/recipe_index.css">

{% endblock %}

{% block navbar %}
{{super()}}
        
<div  class="navbar-right-aligned">

        <li><button class="button" id="addTagButton">Add Tag</button></li>
        <li><button class="button" id="myBtn">Add Recipe</button></li>
        <li><button class="button" id="advancedSearchButton">Advanced Search</button></li>
        
        <div id="addTagModal" class="addRecipeModal modal">
            {% include 'add_tag.html' with context %}
        </div>

        <div id="advancedSearchModal" class="addRecipeModal modal">
            {% include 'advanced_search.html' with context %}
    </div>
</div>
{% endblock  %}

{% block content %}



<div class="recipe-items">
    {% if recipes %}
    {% for recipe in recipes %}
    <div class=recipe>
        <div class=recipe_title>
            <a href="{{ url_for('recipe', recipe_id=recipe.id) }}"><p>{{ recipe.title }}</p></a>
        </div>
        <div class=recipe_image>
            {% if recipe.recipe_image %}
                <a href="{{ url_for('recipe', recipe_id=recipe.id) }}"><img src="{{recipe.recipe_image}}" class="image"></a>
            {% else %}
                <h1>hey</h1>
            {% endif %}    
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div id="myModal" class="addRecipeModal modal">
    {% include 'add_recipe.html' with context %}
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/modal.js') }}"></script>

{% endblock %}
